@media screen and (max-width: 1200px) {
    

main .section_1{
    width: calc((100vw * .32) );  
    min-width: 200px;  
}

main .section_1 .social{
    
    transform: translateX(40%);
    
}

main .section_2{
    width: calc((100vw * .61) );  
    min-width: 200px;  
    
    
}

}


@media screen and (max-width: 1155px) {
    


main .section_2{
    width: calc((100vw * .60) );  
    min-width: 200px;  
    
}

}
















/*         *****************       Tablets       ******************         */




@media screen and (max-width: 1024px) {
    

body{
    background: var(--grad-reverse);
}

.border{
    border-radius: 3vw;
}


main{
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin-top: 1vh;
    padding: 0;
}

main .section_1{
    width: calc((100vw * .95) );  
    min-width: 200px;  
    margin: 0;
    flex-direction: column;
    height: 42vh;

    position: relative;
    align-items: center;
    justify-content: flex-start;

}
main .section_1 .social{
    position: absolute;
    top: 0vh;
    width: 35vw;
    right: 0;
    margin: 0 auto;
    height: 2.5vh;
    flex-direction: row;
    background: var(--grad-right);
    
    transform: translateY(550%);
    
    
    border-radius: 4vw;
    
    bottom: 0;
    
}
main .section_1 .social span a img{
    max-width: 40px;
    max-height: 40px;
    width: calc(100vw / 1920 * 100);
    height: calc(100vw / 1920 * 100);
    transform: scale(1);
}
#fb-ico{    
    max-width: 45px;
    max-height: 45px;
    width: calc(100vw / 1920 * 100);
    height: calc(100vw / 1920 * 100);
}
main .section_1 .social span a img:hover{
    transform: translateY(-5px);
}





main .section_1 .profile{
    width: calc((100vw * .95) );  
    min-width: 200px;  
    margin: 0;
    height: 100%;

    flex-direction: row-reverse;
    justify-content: center;
    
}
main .section_1 .profile .profile_pic{
    margin-right: 15vw;
    margin-bottom: 15vh;
    width: 22vw;
        
}
main .section_1 .profile .desc{
    /* position: absolute;
    left: 8vw; */
    margin-left: 8vw;
    margin-bottom: 5vh;
        
}
main .section_1 .profile .desc::after{
    content: "";
    display: block;
    width: 50%;
    height: .7vw;
    min-height: 10px;
    max-height: 15px;
}

main .section_1 .profile .desc p{

    font-size: 4vw !important;
    margin: 0;
}
main .section_1 .profile .desc h1{
    
    font-size: 7vw !important;
    margin: 0;
}
main .section_1 .profile .bio{
    position: absolute;
    bottom: 5vh;
        
}
main .section_1 .profile .bio p{
    font-size: 2.5vw;
        
}







main .section_2{
    width: calc((100vw * .90) );  
    min-width: 200px;  
    margin: 0;
    margin-top: 0vh;
    height: 47vh;

    justify-content: flex-start;
    align-items: center;

    



    /* visibility: ; */
    
}
main .section_2 .gallery{
    width: calc((100vw * .95) );  
    min-width: 200px;  
    margin: 0;
    margin-bottom: 1vh;
    height: calc((47vh * .60) - 10px);    
}

main .section_2 .gallery .gallery_header {
    margin: 0;
    padding: 1.5vh;
    display: flex;
    align-items: center;
    
    
}
main .section_2 .gallery .gallery_header h2{
    font-size: 3vw;
       
}

main .section_2 .gallery .gallery_header .gallery_open_btn{
    font-size: 2vw;
    
}


main .section_2 .gallery .gallery_window .gallery_itms:nth-child(9), main .section_2 .gallery .gallery_window .gallery_itms:nth-child(10){
    display: flex;
    
}

main .section_2 .gallery .gallery_window .gallery_itms{
    flex-basis: 18%;
    border: none;
    height: 8vh;
    
    
}
main .section_2 .gallery .gallery_window .gallery_itms img{
    height: 100%;
    
}


main .section_2 .marketplace{
    width: calc((100vw * .95) );      
    height: calc((47vh * .25) - 10px);    

    justify-content: flex-start;
    
    
}

main .section_2 .marketplace .marketplace_head{
    
    font-size: 3vw;
    
}
main .section_2 .marketplace .marketplaces{
    width: 60%;
    
}
main .section_2 .marketplace .marketplaces li{
    flex-basis: 20%;
    
}

main .section_2 .marketplace .marketplaces li a span img{
    height: 5vh;
    
}
main .section_2 .marketplace .marketplaces li a span p{
    font-size: 2vw ;
    display: none;
    
}











.gallery_viewer {
    
    flex-direction: column;
    
}

.gallery_viewer .gallery_viewer_section{
    height: 45vh;
    width: 90vw;
}




.gallery_viewer .gallery_viewer_section_left .gallery_viewer_img_container{
    height: 70%;
    
}
.gallery_viewer .gallery_viewer_section_left .gallery_viewer_img_full_screen_btn{
    width: 2vw;
    height: 2vw;
    
}

.gallery_viewer .gallery_viewer_section_left .gallery_viewer_desc_container{
    flex-basis: 30%;
}
.gallery_viewer .gallery_viewer_section_left #gallery_viewer_desc_ttl{
    font-size: 3vw;
}
.gallery_viewer .gallery_viewer_section_left #gallery_viewer_desc{
    font-size: 2vw;
    
    max-height: 6.5vh;
}












.gallery_viewer .gallery_viewer_section_right{
    height: 40vh;
    
}



.gallery_viewer .gallery_viewer_section_right 
.gallery_tags{
    
    min-height: 6vh;    
    margin: 0 auto;
    margin-bottom: 2vh;

}


/* .gallery_viewer .gallery_viewer_section_right 
.gallery_tags .gallery_tag {
     min-height: 10vh; 
}  */



.img_tag_btn{
    font-size: 2vw;
    
    border: 1px solid var(--stroke2);

}

.gallery_viewer_masonry_gallery{
    column-count: 3;
    column-gap: 2vw;

    min-height: 20vh;
}
.gallery_viewer_masonry_item {
    margin-bottom: 2vw;
}




.gallery_viewer_close_btn img{
    width: 2vw;
}




.cursor{
    display: none !important;
}



}
















@media screen and (max-width: 700px) {
    

    
.border{
    
    border-width: 2px;
}


main .section_1 .social{
    height: 1.5vh;
    
    transform: translateY(650%);
    
    border-radius: 2vw;
    
}
main .section_1 .social span a img{
    max-width: 20px;
    max-height: 20px;
    
}
#fb-ico{    
    max-width: 25px;
    max-height: 25px;
    
}





main .section_1 .profile{
    width: calc((100vw * .95) );  
    min-width: 200px;  
    margin: 0;
    height: 100%;

    flex-direction: row-reverse;
    justify-content: center;
    
}
main .section_1 .profile .profile_pic{
    margin-right: 10vw;
    
    width: 25vw;
        
}

main .section_1 .profile .desc::after{
    
    height: 1vw;
    min-height: 7px;
    max-height: 10px;
}

main .section_1 .profile .desc p{

    font-size: 4vw !important;
    margin: 0;
}
main .section_1 .profile .desc h1{
    
    font-size: 7vw !important;
    margin: 0;
}
main .section_1 .profile .bio{
    position: absolute;
    bottom: 5vh;
    border-width: 3px;
    border-radius: 2vw;
    padding: 2vw;

    
    width: calc(85% - 4vw);
    
    
        
}
main .section_1 .profile .bio p{
    font-size: 2.5vw;
        
}









main .section_2 .gallery .gallery_header h2{
    font-size: 4vw;
    
}

main .section_2 .gallery .gallery_header .gallery_open_btn{
    font-size: 3vw;
    flex-basis: 30%;

    border-width: 2px;
}




main .section_2 .marketplace .marketplace_head{
    
    font-size: 3.5vw;
    
}


main .section_2 .marketplace .marketplaces li a span img{
    height: 4vh;
    
}










.gallery_viewer .gallery_viewer_section_left .gallery_viewer_img_full_screen_btn{
    width: 2.5vw;
    height: 2.5vw;
    
}

.gallery_viewer .gallery_viewer_section_left .gallery_viewer_desc_container{
    flex-basis: 30%;
}
.gallery_viewer .gallery_viewer_section_left #gallery_viewer_desc_ttl{
    font-size: 3.5vw;
}
.gallery_viewer .gallery_viewer_section_left #gallery_viewer_desc{
    font-size: 2.5vw;
}











.img_tag_btn{
    font-size: 2.5vw;
    
    border: 1px solid var(--stroke2);

}



.gallery_viewer_close_btn img{
    width: 3vw;
}



}























@media screen and (max-width: 500px) {
    

    
    

main .section_1 .social{
   
    transform: translateY(650%);
    width: 50vw;
    border-radius: 5vw;
    border-width: 2px;
    
}
main .section_1 .social span a img{
    max-width: 15px;
    max-height: 15px;
    
}
#fb-ico{    
    max-width: 20px;
    max-height: 20px;
    
}





main .section_1 .profile .profile_pic{
    margin-right: 10vw;
    margin-bottom: 10vh;
    width: 30vw;
        
}

main .section_1 .profile .desc{
    margin-bottom: 0;
}
main .section_1 .profile .desc::after{
    
    height: 1vw;
    min-height: 5px;
    max-height: 10px;
}



main .section_1 .profile .bio{
    position: absolute;
    bottom: 4vh;
    border-width: 2px;
    border-radius: 2vw;
    padding: 3vw 2vw;

    
    width: calc(85% - 4vw);
    
    
        
}
main .section_1 .profile .bio p{
    font-size: 3vw;
        
}









main .section_2 .gallery .gallery_header h2{
    font-size: 4vw;
    
}

main .section_2 .gallery .gallery_header .gallery_open_btn{
    font-size: 3vw;
    flex-basis: 30%;

    border-width: 2px;
}

main .section_2 .gallery .gallery_window .gallery_itms{
    border-width: 2px;
    flex-basis: 23%;
    
}

main .section_2 .gallery .gallery_window .gallery_itms:nth-child(9), main .section_2 .gallery .gallery_window .gallery_itms:nth-child(10){
    display: none;
    
}


main .section_2 .marketplace .marketplace_head{
    
    font-size: 3.5vw;
    
}












.gallery_viewer .gallery_viewer_section_left .gallery_viewer_img_full_screen_btn{
    width: 3vw;
    height: 3vw;
    
}


.gallery_viewer .gallery_viewer_section_left #gallery_viewer_desc_ttl{
    font-size: 4vw;
}
.gallery_viewer .gallery_viewer_section_left #gallery_viewer_desc{
    font-size: 3vw;
}











.img_tag_btn{
    font-size: 2.5vw;
    
    border: 1px solid var(--stroke2);

}



.gallery_viewer_close_btn{
    top: 2vw;
    right: 2vw;
    
}




}